.App {
  height: 100vh;
  width: 100vw;

  h1, h2, p, label {
    color: white;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  label, p {
    font-size: 1.5rem;
  }
}

.App-header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.App-section-splitter {
  display: flex;
  width: 100%;
  height: 70%;
  flex-flow: row wrap;

  .App-text-area {
    width: 50%;

    span {
      display: flex;
      height: 10%;
      text-align: center;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 0 0 0 0;
      }
    }
  }

  .App-zalgo-text {
    width: 50%;

    span {
      display: flex;
      height: 10%;
      text-align: center;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 0 0 0 0;
      }
    }

    .align-div-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80%;

      .div-text-reat {
        display: flex;
        justify-content: center;
        height: 80%;
        width: 80%;
        color: white;
        background-color: white;
        place-items: center;

        //p {
        //  margin: 0 0 0 0;
        //  color: black;
        //  text-align: center;
        //}

        textarea {
          resize: none;
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          font-size: 1.5rem;
          font-family: "Roboto", sans-serif;
          text-align: center;
        }

      }
    }

    .div-button-copy {
      height: 8%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1% 0 1% 0;

      button {
        width: 80%;
        height: 100%;
      }
    }
  }

  @media (max-width: 450px) {
    height: 70%;

    .App-text-area {
      width: 100%;
      height: 60%;

      div {
        div {
          button {
            height: 90%;
          }
        }
      }

    }

    .App-zalgo-text {
      width: 100%;
      height: 30%;

      .div-button-copy {
        height: 20%;
      }
    }
  }
}

.App-zalgo-controller {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  h2 {
    margin: 0.83rem 0 0 0;
  }
}

.controllers-wrapper {
  display: flex;
  //flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 100%;

  @media (max-width: 450px) {
    flex-flow: wrap;
  }
}
