.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: white;
}

button:hover{
  background-color: #61dafb;
  cursor: pointer;
}

button:active{
  background-color: #61dafb;
  transform: translateY(2px);
}

.App-header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 2%;
}

.App-link {
  border-radius: 1px;
  border-style: solid;
  color: #61dafb;
  position: absolute;
  font-size: 10px;
  top: 0;
  right: 0;
}

.App-section-splitter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  height: 60%;
}

.App-text-area {
  height: 100%;
  width: 40%;
  display: flex;
  flex-flow: column;
  align-items: center;

  button {
    height: 5%;
    width: 80%;
    margin-bottom: 5%;
    border: solid 5px #B0B0B0;
  }

  textarea {
    height: 22%;
    width: 80%;
  }
}

.App-zalgo-text {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 40%;

  .div-block {
    height: 60%;
    width: 80%;
    background-color: white;

    p {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      margin: 0 0 0 0;
    }
  }
}

.App-zalgo-controller {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  justify-content: center;

  color: white;
  div{
    display: flex;
    width: 30%;
    flex-flow: column-reverse;
  }
}
